<div class="c-actions-bar__inner">
  <div class="c-actions-bar__action" {{action "deleteSelected"}}>
    {{svg-jar "delete" class="c-actions-bar__icon c-actions-bar__icon--delete"}}

    <div class="c-actions-bar__text">
      Delete
    </div>
  </div>
</div>