<div class="l-container__sidebar">
  <div class="l-container__content"></div>
  <div class="l-container__footer"></div>
</div>

<div
  class="l-container__main {{if this.isEditing 'is-editing'}}"
  data-test-main-section
>
  <div class="l-container__content l-container__content--main">
    {{task-list
      tasks=@tasks
      saveTask=@saveTask
      completeTask=@completeTask
      uncompleteTask=@uncompleteTask
      reorderTasks=@reorderTasks
    }}
  </div>

  <div class="l-container__footer">
    <div class="c-main-actions">
      <div
        class="c-main-actions__item"
        {{action "newTask"}}
        data-test-action-new-task
      >
        {{svg-jar "plus" width="12px" height="12px"}}
      </div>
    </div>
  </div>
</div>
