{{#modal-dialog
  class="js-items-actions"
  title="Deadline"
  close=@close
}}
  {{#power-calendar class="demo-calendar-small"
    selected=@value
    center=(or this.center @value)
    onCenterChange=(action (mut this.center) value="date")
    onSelect=(action (queue (action @setDeadline value="date") @close))
    as |calendar|
  }}
    {{calendar.nav}}
    {{calendar.days}}
  {{/power-calendar}}

  <div class="c-dialog__section">
    <div class="c-dialog__action" {{action (queue (action @setDeadline null) @close)}}>
      Remove deadline
    </div>
  </div>
{{/modal-dialog}}
