<div class="c-placeholder" data-test-folder-placeholder>
  {{svg-jar @folder  class="c-placeholder__icon"}}

  {{#if (not-eq @folder 'logbook')}}
    <div class="c-placeholder__tips">
      <div class="c-placeholder__tips-item">
        <div class="c-placeholder__tips-text">Show all shortcuts</div>
        <div class="c-placeholder__tips-key">?</div>
      </div>

      <div class="c-placeholder__tips-item">
        <div class="c-placeholder__tips-text">Create a new to-do</div>
        <div class="c-placeholder__tips-key">N</div>
      </div>
    </div>
  {{/if}}
</div>