<div class="c-placeholder" data-test-folder-placeholder>
  {{#if (not-eq @folder "project")}}
    {{svg-jar @folder  class="c-placeholder__icon"}}
  {{/if}}

  {{#if (and (not-eq @folder 'logbook') (not-eq @folder 'trash'))}}
    <div class="c-placeholder__tips">
      <div class="c-placeholder__tips-item">
        <div class="c-placeholder__tips-text">Show all shortcuts</div>
        <div class="c-placeholder__tips-key">?</div>
      </div>

      <div class="c-placeholder__tips-item">
        <div class="c-placeholder__tips-text">Create a new to-do</div>
        <div class="c-placeholder__tips-key">N</div>
      </div>
    </div>
  {{/if}}
</div>