<div class="c-drawer {{if @isOpen "is-open"}}" data-test-shortcut-bar>
  <div class="c-drawer__body">
    <div class="c-drawer__title">
      Keyboard shortcuts
    </div>

    <button class="c-drawer__close" {{action @close}}>
      ×
    </button>

    <div class="c-shortcut-bar">
      <table class="c-shortcut-bar__section">
        <tbody>
          <tr>
            <td class="c-shortcut-bar__keys">
              <kbd class="c-shortcut-bar__key">Enter</kbd>
            </td>
            <td class="c-shortcut-bar__info">
              Edit selected task
            </td>
          </tr>

          <tr>
            <td class="c-shortcut-bar__keys">
              <kbd class="c-shortcut-bar__key">Backspace</kbd>
            </td>
            <td class="c-shortcut-bar__info">
              Delete selected task
            </td>
          </tr>

          <tr>
            <td class="c-shortcut-bar__keys">
              <kbd class="c-shortcut-bar__key">N</kbd>
            </td>
            <td class="c-shortcut-bar__info">
              Create new task
            </td>
          </tr>
        </tbody>
      </table>

      <table class="c-shortcut-bar__section">
        <tbody>
          <tr>
            <td class="c-shortcut-bar__keys">
              <kbd class="c-shortcut-bar__key">⬆︎</kbd>
            </td>
            <td class="c-shortcut-bar__info">
              Select previous task
            </td>
          </tr>

          <tr>
            <td class="c-shortcut-bar__keys">
              <kbd class="c-shortcut-bar__key">⬇︎</kbd>
            </td>
            <td class="c-shortcut-bar__info">
              Select next task
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>