<div class="c-sidebar-nav">
  <div class="c-sidebar-nav__section">
    {{#link-to "inbox" class="c-sidebar-nav__item" activeClass="is-active"}}
      {{svg-jar "inbox" class="c-sidebar-nav__icon c-sidebar-nav__icon--inbox"}}
      <div class="c-sidebar-nav__text">
        Inbox
      </div>
    {{/link-to}}
  </div>

  <div class="c-sidebar-nav__section">
    {{#link-to "logbook" class="c-sidebar-nav__item" activeClass="is-active"}}
      {{svg-jar "logbook" class="c-sidebar-nav__icon c-sidebar-nav__icon--logbook"}}
      <div class="c-sidebar-nav__text">
        Logbook
      </div>
    {{/link-to}}
  </div>
</div>