<div class="c-side-nav">
  <div class="c-side-nav__section">
    {{#link-to "inbox" class="c-side-nav__item" activeClass="is-active"}}
      {{svg-jar "inbox" class="c-side-nav__icon c-side-nav__icon--inbox"}}
      <div class="c-side-nav__text">
        Inbox
      </div>
    {{/link-to}}
  </div>
</div>