<input type="checkbox" class="c-task__checkbox">

{{#if isEditable}}
  {{input
    class="c-task__input js-task-input"
    placeholder=this.placeholder
    value=@task.name
    enter=(action "onEnter")
  }}
{{else}}
  <div class="c-task__name {{if (not @task.name) 'c-task__name--placeholder'}}">
    {{if @task.name @task.name this.placeholder}}
  </div>
{{/if}}