@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }

  70% {
    box-shadow: 0 0 0 rem(3px) rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes drop-fade-below {
  0% {
    opacity: 0;
    transform: translateY(rem(-20px));
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes drop-fade-above {
  0% {
    opacity: 0;
    transform: translateY(rem(20px));
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
