body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
  line-height: var(--base-line-height);
  color: var(--base-text-color);
  background-color: var(--base-background-color);
  overflow: hidden;

  &#tests {
    overflow: auto;
  }
}

button,
input {
  font-family: inherit;
  font-size: rem(14px);
  color: var(--base-text-color);
}

*:not(input):not(textarea) {
  user-select: none;
}

textarea {
  resize: none;
  color: var(--base-text-color);
}

*::placeholder {
  color: #444;
  opacity: 0.5;
}
