.c-actions-bar {
  position: absolute;
  bottom: rem(16px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: rem(10px);
  background: #2b323a;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.c-actions-bar__action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(12px) rem(14px);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.86);

  &:first-child {
    border-radius: rem(10px) 0 0 rem(10px);
  }

  &.c-dropdown__trigger {
    border-radius: 0 rem(10px) rem(10px) 0;
  }

  &.ember-basic-dropdown-trigger--center,
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  &.is-disabled {
    opacity: 0.2;
    cursor: default;
    background: none;
  }
}

.c-actions-bar__icon {
  height: rem(20px);
  width: rem(20px);
  fill: currentColor;

  &:not(:last-child) {
    margin-right: rem(8px);
  }
}

.c-actions-bar__dropdown-content {
  padding-bottom: rem(10px);
}
