.c-actions-bar {
  position: absolute;
  bottom: rem(16px);
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(6px);
  border-radius: rem(6px);
  background: #444;
  color: #fff;
}

.c-actions-bar__action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(8px) rem(10px);
  border-radius: rem(6px);
  cursor: pointer;

  &:hover {
    background: #666;
  }
}

.c-actions-bar__icon {
  height: rem(20px);
  width: rem(20px);
  fill: #fff;

  &:not(:last-child) {
    margin-right: rem(6px);
  }

  &--delete {
    stroke: #fff;
  }
}
