.c-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--z-index-dialog);
  overflow: hidden;
  outline: 0;
  background: rgba(0, 0, 0, 0.2);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &.is-transitioning-in {
    animation: fade-in 150ms;
  }

  &.is-transitioning-out {
    animation: fade-in 150ms reverse;
  }
}

.c-dialog__inner {
  display: flex;
  flex-flow: column;
  width: rem(300px);
  max-height: rem(400px);
  background: #fff;
  border-radius: rem(6px);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.12), 0 rem(2px) rem(12px) rgba(0, 0, 0, 0.12);

  .is-transitioning-in > & {
    animation: drop-fade-below 150ms;
  }

  .is-transitioning-out > & {
    animation: drop-fade-below 150ms reverse;
  }
}

.c-dialog__header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.c-dialog__title {
  padding: rem(10px);
  font-size: rem(16px);
  font-weight: var(--semi-bold);
  text-align: center;
  white-space: nowrap;
  color: #666;
}

.c-dialog__buttons-wrap {
  flex: 1;

  &:last-child {
    text-align: right;
  }
}

.c-dialog__button {
  margin: 0;
  padding: rem(10px);
  border: 0;
  background: none;
  font-size: rem(15px);
  color: #666;
  transition: color 0.2s ease-out;
  cursor: pointer;

  &:hover {
    color: hsla(216, 83%, 60%, 1);
  }
}

.c-dialog__body {
  flex: 1;
  padding: 0 rem(10px);
  margin-bottom: rem(10px);
  overflow-y: auto;
}

.c-dialog__footer {
  flex-shrink: 0;
  height: rem(2px);
}
