.c-drawer {
  max-height: rem(260px);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  will-change: transform;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
  text-align: center;
  background: #fafafa;
  border-top: 1px solid #e5e5e5;
  box-shadow: 0 -rem(2px) rem(6px) 0 rgba(0, 0, 0, 0.03);

  /*
    Prevent Chrome on Windows from adding a focus outline. For details,
    see https://github.com/twbs/bootstrap/pull/10951.
  */
  -webkit-overflow-scrolling: touch;

  &.is-open {
    transform: translateX(0);
  }
}

.c-drawer__body {
  display: inline-block;
  vertical-align: middle;
  padding: rem(12px) 0;
  text-align: left;
}

.c-drawer__title {
  margin-bottom: rem(8px);
  font-size: rem(18px);
  text-align: center;
}

.c-drawer__close {
  margin: 0;
  padding: rem(6px) rem(24px);
  position: absolute;
  top: 0;
  right: 0;
  font-size: rem(26px);
  border: 0;
  background: none;
  color: #aaa;
  transition: color 0.2s ease-out;
  cursor: pointer;

  &:hover {
    color: #777;
  }
}
