.c-dropdown__trigger {
  text-decoration: none;
  cursor: pointer;
}

.c-dropdown__trigger-icon {
  fill: currentColor;
}

.c-dropdown__content {
  padding: rem(6px);
  z-index: var(--z-index-fs-dialog);
  background: transparent;
  will-change: transform, opacity;

  &.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-in {
    animation: drop-fade-below 150ms;
  }

  &.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-out {
    animation: drop-fade-below 150ms reverse;
  }

  &.ember-basic-dropdown-content--above.ember-basic-dropdown--transitioning-in {
    animation: drop-fade-above 150ms;
  }

  &.ember-basic-dropdown-content--above.ember-basic-dropdown--transitioning-out {
    animation: drop-fade-above 150ms reverse;
  }
}

.c-dropdown__content-inner {
  padding: rem(7px);
  border-radius: rem(6px);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.12), 0 rem(2px) rem(12px) rgba(0, 0, 0, 0.12);
  background: #fff;
}

.c-dropdown__section:not(:last-child) {
  margin-bottom: rem(10px);
}

.c-dropdown__item {
  display: flex;
  align-items: center;
  padding: rem(6px) rem(10px);
  border-radius: rem(4px);
  text-decoration: none;
  color: #777;
  cursor: pointer;

  &:hover,
  &.is-active {
    background: hsla(216, 83%, 96%, 1);
    color: hsla(216, 83%, 60%, 1);
  }
}

.c-dropdown__item-icon {
  margin-right: rem(8px);
  height: rem(18px);
  width: rem(18px);
  fill: #5f96e8;
  fill: currentColor;

  &--small {
    padding: 2px;
  }
}

.c-dropdown__item-text {
  flex: 1;
  overflow: hidden;
  font-size: rem(15px);
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
}
