.c-folder {
  display: flex;
  flex-flow: column;
  padding: rem(60px) rem(80px);
}

.c-folder__title {
  display: flex;
  margin-bottom: rem(40px);
  padding: 0 rem(20px);
  align-items: center;
}

.c-folder__title-icon {
  height: rem(24px);
  width: rem(24px);

  &--inbox {
    fill: #279de2;
  }

  &--logbook {
    fill: #41ad56;
  }

  &--trash {
    fill: #b1b6bb;
  }

  &--someday {
    fill: #bdb176;
  }

  &--today {
    fill: #ffd402;

    .icon-today__border {
      stroke: #f0c402;
    }
  }

  &--anytime {
    fill: #40a69b;
  }

  &--project {
    fill: #2694E7;

    .icon-project__border {
      stroke: #208CD9;
    }
  }
}

.c-folder__title-text {
  font-size: rem(24px);
  font-weight: var(--semi-bold);
  text-transform: capitalize;
  padding: 0 rem(6px);
}

.c-folder__title-input {
  flex: 1;
  padding: 0 rem(6px);
  line-height: 1;
  font-size: rem(24px);
  background: transparent;
  border: 0;
  cursor: default;
  font-weight: var(--semi-bold);
  color: var(--base-text-color);

  &::placeholder {
    color: #444;
    opacity: 0.5;
  }
}

.c-folder__group {
  margin-bottom: rem(34px);
}

.c-folder__group-name {
  padding: 0 rem(16px);
  margin-bottom: rem(10px);
}

.c-folder__group-name-text {
  padding-bottom: rem(10px);
  border-bottom: 1px solid #eee;
  font-weight: var(--semi-bold);
}

.c-folder__buttons {
  margin-bottom: rem(20px);
  padding: 0 rem(16px);
}

.c-folder__button {
  border: none;
  border-radius: rem(4px);
  background: #629cf0;
  color: #fff;
  padding: rem(4px) rem(16px);
}
