.c-folder {
  display: flex;
  flex-flow: column;
  padding: rem(60px) rem(80px);
}

.c-folder__title {
  display: flex;
  align-items: center;
  margin-bottom: rem(40px);
  padding: 0 rem(20px);
}

.c-folder__checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.c-folder__icon {
  height: rem(24px);
  width: rem(24px);

  &--inbox {
    fill: #279de2;
  }

  &--logbook {
    fill: #41ad56;
  }

  &--trash {
    fill: #b1b6bb;
  }

  &--someday {
    fill: #bdb176;
  }

  &--today {
    fill: #ffd402;

    .icon-today__border {
      stroke: #f0c402;
    }
  }

  &--anytime {
    fill: #40a69b;
  }

  &--project {
    color: #1b61c2;
  }
}

.c-folder__title-text {
  font-size: rem(24px);
  font-weight: var(--semi-bold);
  text-transform: capitalize;
  padding: 0 rem(6px);
}

.c-folder__title-input {
  flex: 1;
  padding: 0 rem(6px);
  line-height: 1;
  font-size: rem(24px);
  background: transparent;
  border: 0;
  font-weight: var(--semi-bold);
  color: var(--base-text-color);

  &::placeholder {
    color: #444;
    opacity: 0.5;
  }
}

.c-folder__group {
  margin-bottom: rem(34px);
}

.c-folder__group-title {
  padding: 0 rem(16px);
  margin-bottom: rem(10px);
  display: block;
  color: var(--base-text-color);
}

.c-folder__project-link {
  text-decoration: none;

  &:hover {
    color: #3493e2;
  }
}

.c-folder__group-title-inner {
  display: flex;
  align-items: center;
  padding-bottom: rem(10px);
  border-bottom: 1px solid #eee;
}

.c-folder__group-icon {
  margin-right: rem(8px);
  height: rem(18px);
  width: rem(18px);

  &--project {
    color: #1b61c2;
  }
}

.c-folder__group-text {
  font-weight: var(--semi-bold);
}

.c-folder__buttons {
  margin-bottom: rem(20px);
  padding: 0 rem(12px);
}

.c-folder__button {
  padding: rem(4px) rem(12px);
  border: 1px solid #eee;
  border-radius: rem(4px);
  line-height: 1;
  text-align: center;
  color: #999;
  cursor: pointer;
  background: none;

  &:hover {
    border-color: #ddd;
    color: #888;
  }

  &:active {
    background-color: #eee;
    border-color: #eee;
  }
}

.c-folder__button--action {
  border-color: transparent;
  background: #629cf0;
  color: #fff;

  &:hover {
    border-color: transparent;
    color: #fff;
  }

  &:active {
    background-color: #5b8fe0;
    border-color: transparent;
  }
}
