.c-item {
  display: flex;
  align-items: center;
  padding: 0 rem(16px);
  cursor: default;
  transition: all 150ms ease-out;
  border-radius: rem(5px);

  &:active {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background 100ms ease-out;
  }

  .is-selected & {
    background-color: #d2e3fd;
  }

  .is-selected + .is-selected & {
    border-radius: 0 0 rem(5px) rem(5px);
    padding-top: rem(4px);
    margin-top: rem(-4px);
  }

  &.is-editing {
    padding-bottom: rem(30px);
    margin: rem(20px) 0;
    box-shadow: 0 rem(2px) rem(6px) rgba(0, 0, 0, 0.2);
    border-radius: rem(5px);
    background: var(--white);
  }
}

.c-item__completed-at {
  font-size: rem(14px);
  margin-left: rem(10px);
  color: #2560bd;
}

.c-item__project {
  margin-left: rem(8px);
  padding: rem(1px) rem(8px);
  background: rgba(0, 0, 0, 0.07);
  border-radius: rem(4px);
  font-size: rem(14px);
  color: rgba(0, 0, 0, 0.4);
}

.c-item__icon {
  margin-left: rem(8px);
  height: rem(14px);
  width: rem(14px);

  &--star {
    padding-bottom: rem(1px);
    fill: #ffd402;

    .icon-today__border {
      stroke: #f0c402;
    }
  }
}

.c-item__input {
  flex: 1;
  line-height: 1;
  font-size: rem(15px);
  background: transparent;
  border: 0;
  padding: rem(8px);
  cursor: default;

  .is-editing & {
    padding-top: rem(18px);
    padding-bottom: rem(18px);
    cursor: text;
  }

  &::placeholder {
    color: #444;
    opacity: 0.5;
  }
}

.c-item__name {
  flex: 1;
  line-height: 1;
  font-size: rem(15px);
  padding: rem(8px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  transition: opacity 300ms ease-out;

  &--placeholder {
    opacity: 0.5;
  }

  .c-item--project & {
    font-weight: var(--bold);
  }
}

.c-item__checkbox-input {
  opacity: 0;
  position: absolute;
}

.c-item__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(15px);
  width: rem(15px);
  border: 1px solid #c3c6c9;
  border-radius: rem(4px);
  background: transparent;
  transition: all 300ms ease-out;

  &--someday {
    border-style: dashed;
  }

  .c-item--project & {
    border-radius: 50%;
  }

  .is-completed & {
    animation: pulse 500ms;
  }

  .c-item__checkbox-input:checked + & {
    background-color: #2560bd;
    border-color: #165abc;
    transform: scale(1.15);
  }

  .c-item--project .c-item__checkbox-input:checked + & {
    transform: scale(1.26);
  }

  .c-item__checkbox-input:checked + &::after {
    content: "";
    margin-top: rem(-2px);
    height: rem(4px);
    width: rem(6px);
    border-left: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    transform: rotate(-45deg);
  }
}
