.c-item {
  display: flex;
  align-items: center;
  padding: 0 rem(16px);
  cursor: default;
  transition: all 150ms ease-out;
  border-radius: rem(5px);

  &:active {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background 100ms ease-out;
  }

  .is-selected & {
    background-color: #d2e3fd;
  }

  .is-selected + .is-selected & {
    border-radius: 0 0 rem(5px) rem(5px);
    padding-top: rem(4px);
    margin-top: rem(-4px);
  }

  &.is-editing {
    padding-bottom: rem(30px);
    margin: rem(20px) 0;
    box-shadow: 0 rem(2px) rem(6px) rgba(0, 0, 0, 0.2);
    border-radius: rem(5px);
    background: var(--white);
  }
}

.c-item__completed-at {
  font-size: rem(14px);
  margin-left: rem(10px);
  color: #2560bd;
}

.c-item__project {
  margin-left: rem(8px);
  padding: rem(1px) rem(8px);
  background: rgba(0, 0, 0, 0.07);
  border-radius: rem(4px);
  font-size: rem(14px);
  color: rgba(0, 0, 0, 0.4);
}

.c-item__star {
  margin-left: rem(8px);
  padding-bottom: rem(1px);
  height: rem(14px);
  width: rem(14px);
  fill: #ffd402;

  .icon-today__border {
    stroke: #f0c402;
  }
}

.c-item__input {
  flex: 1;
  line-height: 1;
  font-size: rem(15px);
  background: transparent;
  border: 0;
  padding: rem(8px);
  cursor: default;

  .is-editing & {
    padding-top: rem(18px);
    padding-bottom: rem(18px);
    cursor: text;
  }

  &::placeholder {
    color: #444;
    opacity: 0.5;
  }
}

.c-item__name {
  flex: 1;
  line-height: 1;
  font-size: rem(15px);
  padding: rem(8px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  transition: opacity 300ms ease-out;

  &--placeholder {
    opacity: 0.5;
  }

  .c-item--project & {
    font-weight: var(--bold);
  }
}
