.c-item-form:not(:last-child) {
  margin-bottom: rem(20px);
}

.c-item-form__project-input {
  padding: 0 rem(6px);
  font-size: rem(24px);
  background: transparent;
  border: 0;
  font-weight: var(--semi-bold);
  color: var(--base-text-color);

  &::placeholder {
    color: #444;
    opacity: 0.5;
  }
}

.c-item-form__dropdown-trigger {
  display: flex;
  align-items: center;
  padding: rem(4px) rem(10px);
  border-radius: rem(6px);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease-out;

  &.ember-basic-dropdown-trigger--center,
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.c-item-form__dropdown-trigger-icon {
  height: rem(18px);
  width: rem(18px);
}

.c-item-form__section {
  display: flex;
  line-height: 1;
  font-size: rem(14px);
  border-top: 1px solid #f3f3f3;
  padding: rem(8px) rem(4px);

  &--notes {
    align-items: baseline;
    padding-top: 0;
    padding-bottom: 0;
  }

  &--project {
    align-items: center;
    padding-bottom: rem(8px);
    border: 0;
  }

  &--box {
    padding-left: 0;
    padding-right: 0;
  }
}

.c-item-form__notes {
  display: block;
  width: 100%;
  padding: rem(14px) rem(8px);
  border: 0;
  background: transparent;
  font-size: rem(14px);
}

.c-item-form__notes-label {
  transform: translateY(rem(3px));
  opacity: 0.3;

  svg {
    height: 16px;
    width: 16px;
  }
}

.c-item-form__value {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.c-item-form__value-box {
  display: flex;
  align-items: center;
  padding: rem(4px);
  border-radius: rem(4px);
  font-size: rem(14px);
  color: #555;
  cursor: pointer;

  &:hover {
    background: hsla(216, 83%, 96%, 1);
  }
}

.c-item-form__value-text {
  margin-left: rem(6px);
  margin-right: rem(6px);
}

.c-item-form__value-reset {
  margin: rem(-6px);
  padding: rem(6px) rem(8px);
  opacity: 0;

  &:hover {
    opacity: 1;
    color: hsla(216, 83%, 60%, 1);
  }

  .c-item-form__value-box:hover > & {
    opacity: 0.8;
  }

  svg {
    height: 10px;
    width: 10px;
    fill: currentColor;
  }
}

.c-item-form__placeholder {
  padding: rem(4px);
  font-size: rem(14px);
  opacity: 0.4;
}

.c-item-form__deadline {
  padding-left: rem(4px);
  padding-right: rem(6px);
  color: rgba(0, 0, 0, 0.4);
  font-size: rem(14px);

  &.is-overdue {
    color: #f74878;
  }

  &.is-today {
    color: #fc962e;
  }
}
