.c-item {
  cursor: default;
  transition: all 150ms ease-out;
  border-radius: rem(5px);

  &:active {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background 100ms ease-out;
  }

  .is-selected & {
    background-color: #d2e3fd;
  }

  .is-selected + .is-selected & {
    border-radius: 0 0 rem(5px) rem(5px);
    padding-top: rem(4px);
    margin-top: rem(-4px);
  }

  &.is-editing {
    padding: rem(10px) 0;
    margin: rem(20px) 0;
    box-shadow: 0 rem(2px) rem(6px) rgba(0, 0, 0, 0.2);
    border-radius: rem(5px);
    background: var(--white);
  }
}

.c-item__line {
  display: flex;
  align-items: center;
  padding: 0 rem(16px);
}

.c-item__completed-at {
  font-size: rem(14px);
  margin-left: rem(10px);
  color: #2560bd;
}

.c-item__project {
  margin-left: rem(8px);
  padding: rem(1px) rem(8px);
  background: rgba(0, 0, 0, 0.07);
  border-radius: rem(4px);
  font-size: rem(14px);
  color: rgba(0, 0, 0, 0.4);
}

.c-item__star {
  margin-left: rem(8px);
  padding-bottom: rem(1px);
  height: rem(14px);
  width: rem(14px);
  fill: #ffd402;

  .icon-today__border {
    stroke: #f0c402;
  }
}

.c-item__input {
  flex: 1;
  font-size: rem(15px);
  background: transparent;
  border: 0;
  padding: rem(12px) rem(8px);
}

.c-item__name {
  font-size: rem(15px);
  padding: rem(8px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: opacity 300ms ease-out;

  .is-canceled & {
    text-decoration: line-through;
  }

  &--project {
    flex: 0 0 auto;
    font-weight: var(--bold);
  }

  &--placeholder {
    opacity: 0.5;
  }
}

.c-item__counter {
  padding: 0 rem(4px);
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: rem(4px);
  font-size: rem(13px);
  line-height: 1;
  color: rgba(0, 0, 0, 0.28);
}

.c-item__deadline {
  color: rgba(0, 0, 0, 0.5);
  font-size: rem(14px);

  &.c-item__deadline--alarm {
    color: #f74878;
  }
}

.c-item__separator {
  flex: 1;
}
