.c-options {
  min-width: rem(240px);
}

.c-options__item {
  display: flex;
  align-items: center;
  padding: rem(6px) rem(8px);
  border-radius: rem(4px);
  text-decoration: none;
  color: #666;
  transition: all 0.1s ease-out;
  cursor: pointer;

  &.is-active,
  &:hover {
    background: hsla(216, 83%, 96%, 1);
  }
}

.c-options__text {
  flex: 1;
  margin-left: rem(8px);
  overflow: hidden;
  font-size: rem(16px);
  text-overflow: ellipsis;
  white-space: nowrap;

  .c-options--small & {
    font-size: rem(14px);
  }
}

.c-options__icon {
  height: rem(18px);
  width: rem(18px);

  .c-options--small & {
    height: rem(14px);
    width: rem(14px);
  }
}

.c-options__section {
  &:not(:last-child) {
    margin-bottom: rem(10px);
  }
}

.c-options__action {
  padding: rem(8px);
  text-align: center;
  font-size: rem(14px);
  border-radius: rem(4px);
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;

  &:hover {
    background: hsla(216, 83%, 96%, 1);
    color: hsla(216, 83%, 60%, 1);
  }
}
