.c-options {
  min-width: rem(250px);
}

.c-options__item {
  display: flex;
  align-items: center;
  padding: rem(6px) rem(8px);
  border-radius: rem(4px);
  text-decoration: none;
  color: #666;
  transition: all 0.1s ease-out;
  cursor: pointer;

  &:hover {
    background: hsla(216, 83%, 96%, 1);
  }
}

.c-options__icon {
  margin-right: rem(8px);
  height: rem(18px);
  width: rem(18px);
  fill: currentColor;

  &--inbox {
    fill: #279be6;
  }

  &--today {
    fill: #ffd402;

    .icon-today__border {
      stroke: #f0c402;
    }
  }

  &--anytime {
    fill: #40a69b;
  }

  &--someday {
    fill: #bdb176;
  }

  &--project {
    color: #1b61c2;
  }

  &--no {
    padding: rem(2px);
  }
}

.c-options__text {
  flex: 1;
  overflow: hidden;
  font-size: rem(16px);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.c-options__section {
  &:not(:last-child) {
    margin-bottom: rem(10px);
  }
}

.c-options__action {
  padding: rem(8px);
  text-align: center;
  font-size: rem(14px);
  border-radius: rem(4px);
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.15);
  }
}
