.c-popover {
  width: rem(300px);
  position: relative;
  border-radius: rem(6px);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.12), 0 rem(2px) rem(12px) rgba(0, 0, 0, 0.12);
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  > div[x-arrow] {
    height: rem(18px);
    width: rem(18px);
    position: absolute;
    z-index: -1;
    border-radius: rem(3px);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10), 0 0 rem(12px) rgba(0, 0, 0, 0.12);
    background-color: #fff;
  }
}

.c-popover__inner {
  border-radius: rem(6px);
  background-color: #fff;
}

.c-popover__title {
  padding: rem(14px) rem(12px) rem(10px);
  line-height: 1.45;
  text-align: center;
  font-size: rem(15px);
  color: #8f8f8f;
}

.c-popover__option {
  padding: rem(16px);
  border-top: 1px solid rgba(217, 217, 217, 0.85);
  text-align: center;
  font-size: rem(16px);
  color: hsla(216, 83%, 60%, 1);
  cursor: pointer;

  &:last-child {
    border-radius: 0 0 rem(6px) rem(6px);
  }

  &:hover {
    background: hsla(216, 83%, 96%, 1);
  }

  &--danger {
    color: hsl(0, 86%, 59%);
  }

  &--danger:hover {
    background: hsl(0, 86%, 98%);
  }
}
