.c-popover {
  width: rem(300px);
  position: relative;
  border: 1px solid rgba(217, 217, 217, 0.85);
  border-radius: rem(10px);
  box-shadow: 0 rem(1px) rem(16px) rgba(0, 0, 0, 0.15);
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  will-change: transform;

  > div[x-arrow] {
    height: rem(18px);
    width: rem(18px);
    position: absolute;
    z-index: -1;
    border: 1px solid rgba(217, 217, 217, 0.85);
    border-radius: rem(3px);
    box-shadow: rem(-3px) rem(3px) rem(16px) rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
}

.c-popover__inner {
  border-radius: rem(10px);
  background-color: #fff;
}

.c-popover__title {
  padding: rem(14px) rem(12px) rem(10px);
  line-height: 1.45;
  text-align: center;
  font-size: rem(15px);
  color: #8f8f8f;
}

.c-popover__option {
  padding: rem(16px);
  border-top: 1px solid rgba(217, 217, 217, 0.85);
  text-align: center;
  font-size: rem(16px);
  color: #629bf0;
  cursor: pointer;

  &--danger {
    color: #f13f3e;
  }
}
