.c-sidebar-nav {
  padding: rem(26px) rem(16px);
}

.c-sidebar-nav__item {
  display: flex;
  align-items: center;
  padding: rem(4px) rem(8px);
  border-radius: rem(4px);
  text-decoration: none;

  &.is-active {
    background: #e4e6e8;
  }
}

.c-sidebar-nav__icon {
  margin-right: rem(6px);
  height: rem(18px);
  width: rem(18px);

  &--inbox {
    fill: #279be6;
  }

  &--logbook {
    fill: #41ad56;
  }
}

.c-sidebar-nav__text {
  font-size: rem(16px);
  color: var(--base-text-color);
}

.c-sidebar-nav__section {
  margin-bottom: rem(14px);
}
