.c-sidebar-nav {
  padding: rem(26px) rem(16px);
}

.c-sidebar-nav__item {
  display: flex;
  align-items: center;
  padding: rem(4px) rem(8px);
  border-radius: rem(4px);
  text-decoration: none;

  &.is-active {
    background: #e4e6e8;
  }
}

.c-sidebar-nav__icon {
  margin-right: rem(6px);
  height: rem(18px);
  width: rem(18px);

  &--inbox {
    fill: #279be6;
  }

  &--logbook {
    fill: #41ad56;
  }

  &--trash {
    fill: #b1b6bb;
  }

  &--someday {
    fill: #bdb176;
  }

  &--today {
    fill: #ffd402;

    .icon-today__border {
      stroke: #f0c402;
    }
  }

  &--anytime {
    fill: #40a69b;
  }

  &--project {
    fill: #2694E7;
  }
}

.c-sidebar-nav__text {
  flex: 1;
  overflow: hidden;
  font-size: rem(16px);
  color: var(--base-text-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

.c-sidebar-nav__section {
  margin-bottom: rem(14px);
}
