.c-sidebar-actions {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(4px) rem(10px);

  &--sidebar {
    justify-content: space-between;
  }
}

.c-sidebar-actions__item {
  display: flex;
  align-items: center;
  padding: rem(6px);
  border: 1px solid transparent;
  border-radius: rem(5px);
  color: #777;
  cursor: pointer;

  &:hover {
    border-color: #ddd;
    color: var(--base-text-color);
  }

  &:active {
    background-color: #ddd;
    color: var(--base-text-color);
  }
}

.c-sidebar-actions__text {
  font-size: rem(14px);
  white-space: nowrap;
}

.c-sidebar-actions__icon {
  fill: currentColor;
  height: rem(20px);
  width: rem(20px);

  &:not(:last-child) {
    margin-right: rem(6px);
  }

  &--plus {
    height: rem(12px);
    width: rem(12px);
  }
}
