/* ember-sortable addon adjustment */

.sortable-item {
  transition: all 0.125s;
}

.sortable-item.is-dragging {
  transition-duration: 0s;
  z-index: var(--z-index-sortable-item);
  position: relative;
}
