.c-task {
  display: flex;
  align-items: center;
  padding: 0 rem(16px);
  cursor: default;
  transition: all 100ms ease-out;

  &.is-selected {
    border-radius: rem(5px);
    background-color: #d2e3fd;
  }

  &.is-selected + &.is-selected {
    border-radius: 0 0 rem(5px) rem(5px);
    padding-top: rem(4px);
    margin-top: rem(-4px);
  }

  &.is-editable {
    padding-bottom: rem(30px);
    margin: rem(20px) 0;
    box-shadow: 0 rem(2px) rem(6px) rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: var(--white);
  }
}

.c-task__input {
  flex: 1;
  line-height: 1;
  font-size: rem(15px);
  background: transparent;
  border: 0;
  padding: rem(10px);
  cursor: default;

  .is-editable & {
    padding-top: rem(18px);
    padding-bottom: rem(18px);
    cursor: text;
  }

  &::placeholder {
    color: #444;
    opacity: 0.5;
  }
}

.c-task__name {
  flex: 1;
  line-height: 1;
  font-size: rem(15px);
  padding: rem(10px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;

  &--placeholder {
    color: #444;
    opacity: 0.5;
  }
}

.c-task__checkbox-input {
  opacity: 0;
  position: absolute;
}

.c-task__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(14px);
  width: rem(14px);
  border: 1px solid #c3c6c9;
  border-radius: rem(4px);
  transition: all 300ms ease-out;

  .c-task__checkbox-input:checked + & {
    background-color: #2560bd;
    border-color: #165abc;
    transform: scale(1.1);
  }

  .c-task__checkbox-input:checked + &::after {
    content: "";
    margin-top: rem(-2px);
    height: rem(4px);
    width: rem(6px);
    border-left: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    transform: rotate(-45deg);
  }
}
