<div class="l-container">
  <div class="l-container__sidebar">
    <div class="l-container__content"></div>
    <div class="l-container__footer"></div>
  </div>

  <div class="l-container__main">
    <div class="l-container__content">

    </div>

    <div class="l-container__footer">
      <div class="c-main-actions">
        <div class="c-main-actions__item">
          {{svg-jar "plus" width="12px" height="12px"}}
        </div>
      </div>
    </div>
  </div>
</div>
