<div class="l-container">
  <div class="l-container__sidebar">
    <div class="l-container__content"></div>
    <div class="l-container__footer"></div>
  </div>

  <div class="l-container__main">
    <div class="l-container__content"></div>
    <div class="l-container__footer"></div>
  </div>
</div>
