<div class="l-container__content c-folder">
  <h1 class="c-folder__title">
    {{svg-jar "logbook" class="c-folder__title-icon c-folder__title-icon--logbook"}}
    <div class="c-folder__title-text">Logbook</div>
  </h1>

  {{#if this.tasks}}
    {{#task-list
      tasks=this.tasks
      isNotSortable=true
      as |task selectBetween|
    }}
      {{task-item
        task=task
        saveTask=(route-action "saveTask")
        completeTask=(route-action "completeTask")
        uncompleteTask=(route-action "uncompleteTask")
        selectBetween=selectBetween
        data-test-task=task.id
      }}
    {{/task-list}}
  {{else}}
    {{list-placeholder folder="logbook"}}
  {{/if}}
</div>