{{#app-main
  hasContent=this.hasContent
  folder="logbook"
  as |selectBetween|
}}
  {{#each-in (group-by "logbookGroup" (sort-by "completedAt:desc" this.items)) as |groupName groupItems|}}
    <div class="c-folder__group">
      <div class="c-folder__group-title">
        <div class="c-folder__group-title-inner">
          <div class="c-folder__group-text">
            {{groupName}}
          </div>
        </div>
      </div>

      {{items-list
        items=groupItems
        isNotSortable=true
        updateItemName=(route-action "updateItemName")
        completeItem=(route-action "completeItem")
        uncompleteItem=(route-action "uncompleteItem")
        selectBetween=selectBetween
      }}
    </div>
  {{/each-in}}
{{/app-main}}