{{#app-main
  hasContent=this.hasContent
  folder="trash"
  as |selectBetween|
}}
  <div class="c-folder__buttons">
    <button
      class="c-folder__button c-folder__button--action"
    >
      Empty Trash

      {{#attach-popover
        class="c-popover"
        placement="bottom"
        showOn="click"
        hideOn="clickout escapekey"
      }}
        <div class="c-popover__inner">
          <div class="c-popover__title">
            Are you sure you want to remove the items in the Trash permanently?
          </div>

          <div
            class="c-popover__option c-popover__option--danger"
            {{action (route-action "destroyDeletedItems")}}
          >
            Empty Trash
          </div>
        </div>
      {{/attach-popover}}
    </button>
  </div>

  {{items-list
    items=(sort-by "deletedAt:desc" this.items)
    isSortable=false
    selectBetween=selectBetween
  }}
{{/app-main}}