{{#app-main
  hasContent=this.hasContent
  folder="trash"
  as |selectBetween|
}}
  <div class="c-folder__buttons">
    <button
      class="c-folder__button c-folder__button--action"
      {{action (route-action "destroyDeletedItems")}}
    >
      Empty Trash
    </button>
  </div>

  {{items-list
    items=this.tasks
    isNotSortable=true
    updateItemName=(route-action "updateItemName")
    completeItem=(route-action "completeItem")
    uncompleteItem=(route-action "uncompleteItem")
    selectBetween=selectBetween
  }}
{{/app-main}}